/* 
===============
GENERAL CONFIG
===============
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.app {
    background-color: rgb(2, 33, 78);
}

/* 
===============
NAVIGATION BAR 
===============
*/

.navbar__container {
    margin: 0;
    padding: 10px;
    background-color: rgb(44, 65, 139);
    opacity: 90%;
}

.navbar__items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}
 
.navbar__logo img {
    margin: 0;
    padding: 10px;
    width: 200px;
    height: 120px;
}

.navbar__items ul a {
    text-decoration: none;
    color: whitesmoke;
}

.navbar__items ul a:hover {
    color: rgb(24, 109, 221);
}

.navbar__items ul a:active {
    position: relative;
    top: 1px;
}

.navbar__items ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 20%;
}

.navbar__items li {
    font-size: 20px;
    font-weight: 700;
}

.navbar__form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.navbar__moviesearch {
    font-size: 18px;
    margin-right: 10px;
    background-color: whitesmoke;
    border: none;
    padding: 8px;
    border-radius: 8px;
    width: 400px;
    height: 40px;
}

.navbar__input {
    background-color: whitesmoke;
    color: rgb(16, 32, 43);
    width: 80px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}

.navbar__input:hover {
    color: rgb(24, 109, 221);
}

.navbar__input:active {
    position: relative;
    top: 1px;
}

/* 
===================================
HOME PAGE - Component = { Movies }
===================================
*/

.movies__header {
    color: lightgrey;
    font-weight: 600;
    text-indent: 20px;
    margin-top: 30px;
    margin-left: 130px;
    margin-right: 130px;
    border-left: 2px solid rgb(253, 253, 255);
}

.movies__container {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* 
=======================================
HOME PAGE - Component = { MovieCard }
=======================================
*/

.movies__card {
    border: 2px solid rgb(2, 57, 78);
    background-color: rgb(44, 65, 139);
    margin: 5px 5px;
    margin-block: 10px;
    margin-inline: 15px;
    width: 300px;
    height: 492px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.movies__card img {
    width: 300px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.movies__rating {
    text-align: left;
    color: lightgrey;
    font-size: large;
    padding: 5px;
}

.movies__description {
    position: absolute;
    width: fit-content;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;
    background-color: rgb(44, 65, 139);
    opacity: 85%;
    color: white;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.movies__card:hover .movies__description {
    transform: translateY(0%);
}

.movies__description h3 {
    font-weight: 600;
}

.movies__description p {
    font-weight: 500;
    font-size: 21px;
}


/* 
===============
SIGN IN / REGISTER
===============
*/

.signinreg__container {
    overflow: hidden;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signinreg__logo {
    width: 170px;
    height: 100px;
    margin-bottom: 30px;
}

.signinreg__form__container {
    width: 500px;
    display: block;
    border: 5px solid whitesmoke;
    padding: 40px;
    margin: 20px 20px;
}

.signinreg__form {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    opacity: 90%;
}

.signinreg__form__container h1 {
    font-size: 50px;
    margin-bottom: 30px;
    color: whitesmoke;
    opacity: 90%;
    text-align: center;
}

.signinreg__form input {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px;
    width: 410px;
    border-radius: 5px;
    height: 40px;
    font-size: 20px;
}

.signinreg__form .signinreg__error {
    margin-top: 5px;
    margin-bottom: 1px;
    padding: 5px;
    width: 410px;
    border-radius: 5px;
    height: 40px;
    border: 4px solid red;
}

.signinreg__submit {
    background-color: rgb(24, 109, 221);
    color: rgb(16, 32, 43);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px;
    width: 410px;
    height: 40px;
}

.signinreg__submit:hover {
    color: whitesmoke;
}

.signinreg__submit:active {
    position: relative;
    top: 1px;
}

.signinreg__form > span {
    margin-top: 0;
    color: red;
    font-size: small;
}

.create__account {
    margin-top: 20px;
}

.create__account > h3 {
    margin: 10px 0;
    text-align: center;
    color: whitesmoke;
}

.create__account > hr {
    border: 1px solid whitesmoke;
}

.create__account > button {
    background-color: rgb(24, 109, 221);
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px;
    width: 410px;
}

.create__account button a {
    text-decoration: none;
    color: rgb(16, 32, 43);
    font-size: 18px;
    font-weight: 700;
    
} 

.create__account button a:hover {
    color: whitesmoke;
}

.create__account button:active {
    position: relative;
    top: 1px;
}


/* 
=======
FOOTER
=======
*/

.footer__container {
    margin: 0;
    padding: 20px;
    background-color: rgb(44, 65, 139);
    opacity: 90%;
}

.footer__container p {
    margin-top: 5px;
    text-align: center;
    font-size: 25px;
    color: whitesmoke;
}
