.home {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.movies__card {
    border: 1px solid black;
    margin: 5px 5px;
    width: 200px;
    height: 700px;
    font-family: 'Courier, monospace';
    border-radius: 10px;
}

.movies__card img {
    width: 200px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.movies__card h4 {
    text-align: center;
    text-decoration: underline;
    height: 100px;
}

.movies__card p {
    margin: 0;
    padding: 5px;
    font-size: large;
}

.movie_card_rating {
    text-align: left;
}

