.app__signin {
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin__container {
    width: 500px;
    display: block;
    border: 2px ridge black;
    padding: 40px;
    margin: 20px 20px;
}

#img-signin {
    width: 170px;
    height: 100px;
}

h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

label {
    font-size: 17px;
    font-weight: 700;
    align-items: flex-start;
    margin-top: 5px; 
}

.signin__form {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px;
    width: 410px;
    border-radius: 5px;
    height: 40px;
    font-size: 20px;
}

#submit {
    background-color: rgb(24, 109, 221);
    color: rgb(16, 32, 43);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px rgb(0, 40, 77);
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px;
    width: 410px;
    height: 40px;
}

#submit:hover {
    color: whitesmoke;
}

#submit:active {
    position: relative;
    top: 1px;
}

.create__account {
    margin-top: 20px;
}

.create__account > h3 {
    margin: 10px 0;
    text-align: center;
}

.create__account > button {
    background-color: rgb(24, 109, 221);
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px rgb(0, 40, 77);
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px;
    width: 410px;
}

.create__account button a {
    text-decoration: none;
    color: rgb(16, 32, 43);
    font-size: 18px;
    font-weight: 700;
    
} 

.create__account button a:hover {
    color: whitesmoke;
}

.create__account button:active {
    position: relative;
    top: 1px;
}

.select__genre {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
    height: 40px;
    font-size: 17px;
    width: 255px;
}

label {
    font-size: 18px;
    margin-bottom: 0;
}

#genre {
    margin-right: 10px;
}